/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: RGBA(2, 0, 36, 1);
  background: linear-gradient(
    90deg,
    RGBA(2, 0, 36, 1) 0%,
    RGBA(9, 9, 121, 1) 35%,
    RGBA(0, 212, 255, 1) 100%
  );
}
